/* All end */

/* kkPages */

.Pagination {
	height: 55px;
	_height: 45px;
	line-height: 20px;
	margin-right: 15px;
	_margin-right: 5px;
	color: #565656;
	clear: both;
	margin: 0 auto;
	width: 477px;
	padding-top: 100px;
}
.Pagination span {
	margin-right: 5px;
	display: block;
	float: left;
	margin-left: 5px;
	line-height:30px;
}
.Pagination span b {
	padding: 0 2px;
}
.Pagination div {
	float: left
}

.Pagination a {
	font-size: 14px;
	text-decoration: none;
	display: block;
	float: left;
	color: #565656;
	border: 1px solid #cacaca;
	height: 30px;
	line-height: 30px;
	padding: 0 13px;
	margin: 0 2px;
}
.Pagination .Ellipsis {
	line-height: 32px;
	overflow: hidden;
	display: none;
}
cite.FormNum {
	display: none;
	float: left;
	line-height: 20px;
	height: 20px;
	font-style: normal;
	padding-left: 10px;
}
#PageNum {
	color: #777;
	width: 30px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #cacaca;
	margin: 0 5px;
	text-align: center;
}
.Pagination a:hover, .Pagination a.PageCur {
	background-color: #67b3f4;
	border: 1px solid #67b3f4;
	color: #ffffff;
}
.PageNumOK {
	display: none !important;
}
