@charset "utf-8";
/* CSS Document */


/*主体开始*/
.mainbox{ width:100%;}
.mainbox .main{ width:1000px; margin:0 auto; overflow:hidden; background-color:#fff;}
.mainbox .main .mainleft{ float:left;}
.mainbox .main .mainleft .ntittle{ background-color:#238dd2; height:30px; overflow:hidden; width:600px; line-height:30px;}
.mainbox .main .mainleft .ntittle h2{ font-size:16px; color:#fff; float:left; font-weight:bold; margin-left:10px;}
.mainbox .main .mainleft .ntittle a{ float:right; color:#fff; font-size:14px; margin-right:10px;}

.bannerbox{position:relative; width:600px; height:300px; overflow:hidden; }
.bannerbox .tempWrap{width:600px !important; height:300px; overflow:hidden; }
.bannerbox .bannerimg{width:600px !important; height:300px; overflow:hidden; }
.bannerbox .bannerimg a{ display:block; width:600px !important; float:left;}
.bannerbox .bannerimg img{width:600px !important; height:300px;}
.bannerbox .biaoyu{ position:absolute; bottom:0; left:0; background-image:url(../images/p2.png); width:600px; height:28px; overflow:hidden;}
.bannerbox .biaoyu p{ font-size:16px; color:#fff; float:left; line-height:28px; margin-left:10px;}
.bannerbox .hd{ float:right; margin-top:5px; margin-right:10px;}
.bannerbox .hd span{ display:block; float:left; margin:0 3px;width:19px; height:19px;background-color:#565857; text-align:center; line-height:19px; color:#fff;}
.bannerbox .hd span.on{ background-color:#043e6e;}
.bannerbox .hd span:hover{ background-color:#043e6e; cursor:pointer;}

.mainbox .main .mainleft .text{ width:600px;}
.mainbox .main .mainleft .text .neirong{
	height:255px; overflow:hidden;}
.mainbox .main .mainleft .text .neirong dd{
	border-bottom:dashed 1px #c4c4c4;
	overflow:hidden;
	line-height:50px;}
.mainbox .main .mainleft .text .neirong dd a{
	color:#555555;
	font-size:14px;}
.mainbox .main .mainleft .text .neirong dd:hover a{
	color:#67b3f4;}
.mainbox .main .mainleft .text .neirong dd a:first-child{
	float:left;
	width:488px;
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mainbox .main .mainleft .text .neirong dd a:last-child{
	float:right;}

.mainbox .main .mainright{ float:right;}
.mainbox .main .mainright .stittle{ background-color:#238dd2; height:30px; overflow:hidden; width:380px; line-height:30px;}
.mainbox .main .mainright .stittle h2{ font-size:16px; color:#fff; float:left; font-weight:bold; margin-left:10px;}
.mainbox .main .mainright .stittle a{ float:right; color:#fff; font-size:14px; margin-right:10px;}

.mainbox .main .mainright .text1{ width:378px; border:solid #f4f4f4 1px;}
.mainbox .main .mainright .text1 .neirong1{
	height:223px; overflow:hidden;}
.mainbox .main .mainright .text1 .neirong1 dd{
	border-bottom:dashed 1px #c4c4c4;
	overflow:hidden;
	text-indent:10px;
	line-height:44px;}
.mainbox .main .mainright .text1 .neirong1 dd:last-child{border-bottom:none;}
.mainbox .main .mainright .text1 .neirong1 dd a{
	color:#555555;
	font-size:14px;}
.mainbox .main .mainright .text1 .neirong1 dd .aa{ margin-right:10px;}
.mainbox .main .mainright .text1 .neirong1 dd:hover a{
	color:#67b3f4;}
.mainbox .main .mainright .text1 .neirong1 dd a:first-child{
	float:left;
	width:264px;
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mainbox .main .mainright .text1 .neirong1 dd a:last-child{
	float:right;}
.mainbox .main .mainright .yuyue{ width:380px; margin-top:15px;}
.mainbox .main .mainright .yuyue img{ width:380px; height:150px;}
.mainbox .main .mainright .woyao{ width:380px; margin-top:15px;}
.mainbox .main .mainright .woyao img{ width:380px; height:150px;}

/*广告位*/
.guanggao1{ width:100%;}
.guanggao1 img{ width:1000px; margin:0 auto; padding-top:20px; background-color:#fff;}


/*名医荟萃*/
.mingyibox{ width:100%;}
.mingyibox .mingyi{ width:1000px; margin:0 auto; overflow:hidden; background-color:#fff; padding-top:20px;}
.mingyibox .mingyi .mingleft{ float:left;}
.mingyibox .mingyi .mingleft .ntittle{ background-color:#238dd2; height:30px; overflow:hidden; width:658px; line-height:30px;}
.mingyibox .mingyi .mingleft .ntittle h2{ font-size:16px; color:#fff; float:left; font-weight:bold; margin-left:10px;}
.mingyibox .mingyi .mingleft .ntittle a{ float:right; color:#fff; font-size:14px; margin-right:10px;}
.mingyibox .mingyi .mingleft .bbbox{ width:656px; border-bottom:solid #238dd2 1px;border-left:solid #238dd2 1px;border-right:solid #238dd2 1px; overflow:hidden;}
.mingyibox .mingyi .mingleft .bbbox ul{ overflow:hidden; width:658px;} 
.mingyibox .mingyi .mingleft .bbbox ul li{ float:left; margin-left:10px; margin-top:8px;}
.mingyibox .mingyi .mingleft .bbbox ul li div img{ width:88px; height:117px;}
.mingyibox .mingyi .mingleft .bbbox ul li div img:hover{ opacity:0.8;}
.mingyibox .mingyi .mingleft .bbbox ul li p{ text-align:center; line-height:37px;}
.mingyibox .mingyi .mingleft .bbbox ul li:hover a{ color:#238dd2}


.mingyibox .mingyi .mingright{ float:right;}
.mingyibox .mingyi .mingright .ntittle{ background-color:#238dd2; height:30px; overflow:hidden; width:320px; line-height:30px;}
.mingyibox .mingyi .mingright .ntittle h2{ font-size:16px; color:#fff;font-weight:bold;text-align:center; }

.bannerbox1{position:relative; width:318px; height:161px; overflow:hidden; border-bottom:solid #238dd2 1px;border-left:solid #238dd2 1px;border-right:solid #238dd2 1px; }
.bannerbox1 .tempWrap{width:320px !important; height:161px; overflow:hidden; }
.bannerbox1 .bannerimg1{width:320px !important; height:161px; overflow:hidden; }
.bannerbox1 .bannerimg1 a{ display:block; width:320px !important; float:left;}
.bannerbox1 .bannerimg1 img{width:320px !important; height:161px;}
.bannerbox1 .biaoyu{ position:absolute; bottom:0; left:0; background-image:url(../images/p2.png); width:320px; height:28px; overflow:hidden;}
.bannerbox1 .biaoyu p{ font-size:16px; color:#fff; float:left; line-height:28px; margin-left:10px;}
.bannerbox1 .hd{ float:right; margin-top:5px; margin-right:10px;}
.bannerbox1 .hd span{ display:block; float:left; margin:0 3px;width:19px; height:19px;background-color:#565857; text-align:center; line-height:19px; color:#fff;}
.bannerbox1 .hd span.on{ background-color:#043e6e;}
.bannerbox1 .hd span:hover{ background-color:#043e6e; cursor:pointer;}

/*原物公开*/
.yuanwubox{ width:100%;}
.yuanwu{ width:1000px; overflow:hidden; margin:0 auto; background-color:#fff; padding-top:20px;padding-bottom:40px;}
.yuanwu ul{ float:left; margin-left:20px; width:318px;border-bottom:solid #238dd2 1px;border-left:solid #238dd2 1px;border-right:solid #238dd2 1px;}
.yuanwu ul:first-child{ margin-left:0;}
.yuanwu ul .ntittle{ background-color:#238dd2; height:30px; overflow:hidden; width:318px; line-height:30px;}
.yuanwu ul .ntittle h2{ font-size:16px; color:#fff;font-weight:bold;text-align:center; }
.yuanwu ul .wenzhang{ overflow:hidden;}
.yuanwu ul .wenzhang img{ float:left; width:80px; height:110px;}
.yuanwu ul .wenzhang .neirong1{ float:left; margin-left:4px;}
.yuanwu ul .wenzhang .neirong1 dd{border-bottom:dashed 1px #c4c4c4;
	overflow:hidden;
	text-indent:10px;
	line-height:30px;}
.yuanwu ul .wenzhang .neirong1 dd:last-child{border-bottom:none}
.yuanwu ul .wenzhang .neirong1 .bb{ float:left; width:130px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.yuanwu ul .wenzhang .neirong1 .aa{ float:right; margin-right:6px;}
.yuanwu ul .wenzhang .neirong1 dd:hover a{color:#238dd2}


























































































































