@charset "utf-8";
/* CSS Document */

.mainbox{ width:100%;}
.mainbox .main{ width:1000px; margin:0 auto; background-color:#fff; padding:0 0 50px 0}
.mainbox .main .mainone{ background-color:#fff; padding:25px 0 10px 0;}
.mainbox .main .mainone li{ margin-left:15px;}
.mainbox .main .mainone li span{ color:#238dd2}
.mainbox .main .maintwo{ overflow:hidden;}
.mainbox .main .maintwo .left{ float:left; margin-left:15px;}
.mainbox .main .maintwo .left div{ width:150px; height:30px; text-align:center; background-color:#f2f0f0; margin-top:10px;}
.mainbox .main .maintwo .left div a{ line-height:30px;}
.mainbox .main .maintwo .left .current1{ background-color:#238dd2;}
.mainbox .main .maintwo .left .current1 a{ color:#fff;}
.mainbox .main .maintwo .left div:hover{ background-color:#238dd2;}
.mainbox .main .maintwo .left div a:hover{ color:#fff;}
.mainbox .main .maintwo .right{ float:right; width:800px; padding-right:15px;}
.mainbox .main .maintwo .right h2{ color:#1e8cdb; font-size:20px; text-align:center; margin-top:20px;}
.mainbox .main .maintwo .right div{ font-size:14px; text-align:center; color:#777; margin-top:6px; width:800px; border-bottom:1px dashed #dedede; padding-bottom:15px;}
.mainbox .main .maintwo .right div span{ font-size:14px; margin-left:6px;}
.mainbox .main .maintwo .right div b{ font-size:14px; margin-left:6px;}
.mainbox .main .maintwo .right p{ text-indent:10px; line-height:28px; margin-top:20px;}
.mainbox .main .maintwo .right img{ margin:0 auto; max-width:800px; margin-top:20px;}
.mainbox .main .maintwo .right a{ display:block;}
.mainbox .main .maintwo .right a:hover{ color:#238dd2}
.mainbox .main .maintwo .right .shang{ margin-top:40px;}
.mainbox .main .maintwo .right .xia{ margin-top:10px;}














