@charset "utf-8";
/* CSS Document */

.mainbox{ width:100%;}
.mainbox .main{ width:1000px; margin:0 auto; background-color:#fff; padding:0 0 50px 0}
.mainbox .main .mainone{ background-color:#fff; padding:25px 0 10px 0;}
.mainbox .main .mainone li{ margin-left:15px;}
.mainbox .main .mainone li span{ color:#238dd2}
.mainbox .main .maintwo{ overflow:hidden;}
.mainbox .main .maintwo .left{ float:left; margin-left:15px;}
.mainbox .main .maintwo .left div{ width:150px; height:30px; text-align:center; background-color:#f2f0f0; margin-top:10px;}
.mainbox .main .maintwo .left div a{ line-height:30px;}
.mainbox .main .maintwo .left .current1{ background-color:#238dd2;}
.mainbox .main .maintwo .left .current1 a{ color:#fff;}
.mainbox .main .maintwo .left div:hover{ background-color:#238dd2;}
.mainbox .main .maintwo .left div a:hover{ color:#fff;}
.mainbox .main .maintwo .right{ float:right; width:800px; padding-right:15px; overflow:hidden;}
.mainbox .main .maintwo .right h3{ height:20px; border-left: solid 5px #238dd2; font-size:14px; color:#333132; line-height:20px; font-weight:bold; padding-left:6px; margin-top:20px;}
.mainbox .main .maintwo .right .abox{ overflow:hidden; margin-top:10px;}
.mainbox .main .maintwo .right .abox .aleft{ float:left;}
.mainbox .main .maintwo .right .abox .aleft dl{ overflow:hidden; line-height:30px; margin-top:10px; margin-left:10px;}
.mainbox .main .maintwo .right .abox .aleft dl span{ color:#F00; margin-left:3px;}
.mainbox .main .maintwo .right .abox .aleft dl dt{ float:left; text-align:right; font-size:16px; color:#333; width:100px;}
.mainbox .main .maintwo .right .abox .aleft dl dd{ float:left; margin-left:5px; color:#F00;}
.mainbox .main .maintwo .right .abox .aleft dl .yi input{ width:240px;}
.mainbox .main .maintwo .right .abox .aleft dl .yan input{ width:50px;}
.mainbox .main .maintwo .right dl dd input[type=text]{ width:160px; height:20px; border:1px solid #aaabb0}
.mainbox .main .maintwo .right .yanx img{ float:left; margin-top:8px; margin-left:5px;}
.mainbox .main .maintwo .right .yanx{ color:#F00}
.mainbox .main .maintwo .right .abox .aright{ float:left; margin-left:20px;}
.mainbox .main .maintwo .right .abox .aright .xingbie{ overflow:hidden; line-height:30px; margin-top:10px; height:30px;}
.mainbox .main .maintwo .right .abox .aright .xingbie label{ display:inline-block; line-height:30px; }
.mainbox .main .maintwo .right .abox .aright .xingbie dt{float:left; text-align:right; font-size:16px; color:#333;width:100px;}
.mainbox .main .maintwo .right .abox .aright .xingbie dd{ float:left;}
.mainbox .main .maintwo .right .abox .aright .minzu{overflow:hidden; line-height:30px; margin-top:10px; height:30px;}
.mainbox .main .maintwo .right .abox .aright .minzu dt{float:left; text-align:right; font-size:16px; color:#333; width:100px;}
.mainbox .main .maintwo .right .abox .aright .minzu dd{ float:left; margin-left:5px; color:#F00;}
.mainbox .main .maintwo .right .abox .aright .yi input{ width:240px;}
.mainbox .main .maintwo .right .abox .aright dl{ overflow:hidden; line-height:30px; margin-top:10px; margin-left:10px;}
.mainbox .main .maintwo .right .abox .aright dt{ float:left; text-align:right; font-size:16px; color:#333; width:100px;}
.mainbox .main .maintwo .right .abox .aright dd{ float:left; margin-left:5px;} 
.mainbox .main .maintwo .right .abox .aright dl span{ color:#F00; margin-left:3px;}
.mainbox .main .maintwo .right .abox .aright dl .ben select{ width:100px;}
.mainbox .main .maintwo .right button{ width:120px; height:30px; background-color:#238dd2; margin:60px auto; color:#fff; margin-left:300px;}










